.cheese-divider {
  position: relative;
  width: 100%;
  height: 90px;
  overflow: hidden;
  line-height: 0;
  margin-bottom: -1px;
}

.cheese-divider svg {
  width: 100%;
  height: 100%;
  display: block;
}

.cheese-divider--flip {
  transform: scaleY(-1);
}

@media (max-width: 720px) {
  .cheese-divider {
    height: 54px;
  }
}
